<h2>Parent</h2>
<div fxLayout = "row" fxLayoutGap = "7px">
  <div fxLayout = "column" class="parentBox">
    <h2>User</h2>

    
    <table width="100%">
      <tr>
        <th>User Name</th> 
        <th class="removeLink">Remove</th>
      </tr>
      <tr> 
        <td>Kiran</td>
        <td class="removeLink">Remove</td>
      </tr>
      <tr>
        <td>Rahul</td>
        <td class="removeLink">Remove</td>
      </tr>

    </table>
  </div>


<div fxLayout = "column" class="parentBox">
    <h2>Admin</h2>
    <table width="100%">
      <tr>
        <th>User Name</th> 
        <th class="removeLink">Remove</th>
      </tr>
      <tr *ngIf = "let user of users"> 
        <td>{{user}}</td>
        <td class="removeLink">Remove</td>
      </tr>
    </table>
  </div>
</div>

<h2>Child</h2>
<hr>
<div fxLayout="row" fxLayoutGap="15px">
<div fxFlex="50">
  
<app-child [boxColor]="'red'"
           [placeHoldertext]="'create user'"
           (inputEvent)="pushUser($event)"></app-child>  
           
</div>
<div fxFlex="50">
<app-child [boxColor]="'green'" [placeHoldertext]="'Create Admin'"></app-child>  
</div>
</div>


<!-- The Hr tag is used to add a single in a div -->