<h2>Parent</h2>
<div fxLayout = "row" fxLayoutGap = "7px">
  <div fxLayout = "column" class="parentBox">
    <h2>User</h2>

    
    <table width="100%">
      <tr>
        <th>User Name</th> 
        <th class="removeLink">Remove</th>
      </tr>
      <tr *ngFor ="let user of users; index as i"> 
        <td>{{user}}</td>
        <td class="removeLink" (click) = "onRemoveItem(i)">Remove</td>
      </tr>

    </table>
  </div>


<div fxLayout = "column" class="parentBox">
    <h2>Admin</h2>
    <table width="100%">
      <tr>
        <th>User Name</th> 
        <th class="removeLink">Remove</th>
      </tr>
      <tr *ngFor= "let admin of admins; index as i"> 
        <!-- index as i mention kelyavr apan particular index vr kam karu shakto -->
        <td>{{admin}}</td>
        <td class="removeLink" (click) = "onRemoveItem(i)">Remove</td>
        <!-- Remove vr click kelyavr data delete zala pahije tyasathi 1 function lihayach  & konta data 
        particular index cha tyasathi ngfor maddhe index as i mention karayach -->
      </tr>
    </table>
  </div>
</div>

<h2>Child</h2>
<hr>
<div fxLayout="row" fxLayoutGap="15px">
<div fxFlex="50">
  
<app-child [boxColor]="'red'"
           [placeHoldertext]="'create user'"
           (inputEvent)="pushUser($event)"></app-child>  
           
</div>
<div fxFlex="50">
<app-child 
          [boxColor]="'green'" 
          [placeHoldertext]="'Create Admin'"
          (inputEvent)="pushadmins($event)"></app-child>  
</div>
</div>


<!-- The Hr tag is used to add a single in a div -->