p {
  font-family: Lato;
}
.parentBox{
  background: #f1e0e0;
  border: 1px solid #252222;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}


.parentBox h2{
  color: #0a5f0e;
  font-size: 42px;
  margin: 0;
  padding: 0;
}

.parentBox table{
  font-size: 30px;
  text-align: left;

  /* text align-left takes a text to left in given div. */

}
.removeLink
{
  color: #a71010;
}
.parentBox table th{
  background: #dfcbcb;
}