
<div fxLayout = "column" class="box" [ngClass]="{boxRed:boxColor =='red',boxGreen:boxColor=='green'}" fxLayoutGap="5px">
  <div fxFlex="30">
    <!-- Suppose you want a control of any element the we use template reference variable for this
    Template reference variable are created using # and attach name as we wish-->
       <input type="text" #myinput placeholder="{{placeHoldertext}}">
  </div>
  <div fxFlex="30">
     <button (click) = "onCreate()">Create</button>
  </div>

   <div fxFlex="30" class="count" *ngIf="count">
     Total Count: <strong>{{count}}</strong>
   </div>
   
</div>



