.box{
  background: #f8f2f2;
  border: 1px solid #dddd;
  border-radius: 5px;
  padding: 15px;
  font-size: 10px;
  width: 300px;
}
input{
  background: #ffff;
  border: 1px solid #ddd;
  font-size: 15px;
  width: 80%;
  padding: 10px 12px;
}
button{
  background: #0f4b1e;
  font-size: 15px;
  color: #fff;
  padding: 8px 12px;
  margin: 5px auto;
  width: auto;
  border-radius: 5px;
 }
.count {
  font-size: 17px;
  text-align: left;
}
.boxRed{
background: #aa8d8d;
border-radius: #ca4343;
}
.boxGreen{
  background: #7ebe90;
  border-radius: #0f250f;
}